#teste temporario css

.paragrafo1 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

.paragrafo2 {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}